html,
body,
header,
.view {

  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}


.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 90%);
  background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 90%);
  background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 90%);
  background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 90%);
}
.active-amber-textarea.md-form label.active {
    color: #0d47a1;
}
.amber-textarea textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #0d47a1;
    box-shadow: 0 1px 0 0 #0d47a1;
}
.amber-textarea.md-form .prefix.active {
    color: #0d47a1;
}
